<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head"></head>
<body class="bg-gray-100">
<div th:replace="fragments/navbar"></div>
<div class="container mx-auto p-6">
    <form id="createArticleForm" class="bg-white p-6 shadow-lg rounded-lg" method="POST" action="/articles/store" enctype="multipart/form-data">
        <div class="mb-4 flex justify-between items-center">
            <div class="w-2/3">
                <label for="title" class="block text-lg font-medium text-gray-700">タイトル</label>
                <input type="text" id="title" name="title" class="block w-full bg-gray-100 py-2 px-4 rounded mt-2" placeholder="記事のタイトル" required>
            </div>

            <div class="flex space-x-4 items-center">
                <div>
                    <label for="category" class="block text-sm font-medium text-gray-700">カテゴリ</label>
                    <select id="category" name="category" class="block bg-gray-100 py-2 px-4 rounded mt-2">
                        <option value="日報">#日報</option>
                        <option value="teck">#Teck</option>
                        <option value="独り言">#独り言</option>
                        <option value="その他">#その他</option>
                    </select>
                </div>

                <div>
                    <label for="publicStatus" class="block text-sm font-medium text-gray-700">公開ステータス</label>
                    <select id="publicStatus" name="publicStatus" class="block bg-gray-100 py-2 px-4 rounded mt-2">
                        <option value="PUBLIC">公開</option>
                        <option value="PRIVATE">非公開</option>
                    </select>
                </div>
            </div>
        </div>

        <!-- 記事の内容 -->
        <div class="mb-4">
            <label for="content" class="block text-lg font-medium text-gray-700">内容</label>
            <textarea id="content" name="content" rows="6" class="block w-full bg-gray-100 py-2 px-4 rounded mt-2" placeholder="記事の内容" required></textarea>
        </div>

        <div class="mb-4">
            <label for="image" class="block text-lg font-medium text-gray-700">画像アップロード (任意)</label>
            <input type="file" id="image" name="image" accept="image/*" class="block w-full text-gray-700 bg-gray-100 py-2 px-4 rounded mt-2">
        </div>

        <div class="text-center">
            <button type="submit" class="bg-blue-500 text-white py-2 px-6 rounded-md hover:bg-blue-600">記事を作成</button>
        </div>
    </form>
</div>
</body>
</html>